/* CSS CUSTOM PROPERTIES */
:root {
    --ff-sans: "IBM Plex Sans", sans-serif;
    --ff-serif: "IBM Plex Serif", serif;

    /* small screen font-sizes */
    --fs-200: .75rem; /* all small text */
    --fs-300: 1rem;  /* links and buttons */
    --fs-400: 1.25rem;  /* body */
    --fs-500: 1.375rem;  /* card titles */
    --fs-600: 1.75rem;  /* section titles and sub */
    --fs-800: 2.125rem;  /* primary title */

    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;

    --clr-neutral-100: #fff;
    --clr-neutral-200: #eef1f6;
    --clr-neutral-300: #a9afbc;
    --clr-neutral-400: #737b8c;
    --clr-neutral-500: #434956;
    --clr-neutral-800: #020203;

    --clr-primary-300: #f3f7ff; /* bg */
    --clr-primary-400: #8ea8da; /* link and button hovers */

    --borderRad: 1rem;
}

@media (min-width: 40em) {
    :root {
        --fs-500: 1.75rem; /* card titles */
        --fs-600: 2.125rem; /* titles and subs */
        --fs-800: 4.25rem; /* priamry title */
    }
}

/* RESET */

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
    line-height: 1.1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
    margin: 0;
}

ul[class],
ol[class] {
    list-style: none;
    padding: 0;
}

input,
button,
textarea,
select {
    font: inherit;
}

img {
    max-width: 100%;
    /* height: 100%; */
    display: block;
    border-radius: var(--borderRad);
}

/* GENERAL STYLES */

body {
    font-family: var(--ff-sans);
    font-size: var(--fs-400);
    font-weight: var(--fw-300);
    padding: 1.5rem;
    line-height: 1.3;
}

/* TYPOGRAPHY */

h1,
h2,
h3,
.section-subtitle,
.text-serif {
    font-family: var(--ff-serif);
    font-weight: var(--fw-200);
}

a {
    font-weight: var(--fw-700);
    font-weight: var(--fs-300);
    color: var(--clr-neutral-800);
}

a:hover,
a:focus {
    color: var(--clr-primary-400);
}

.text-500 {
    font-size: var(--fs-500);
}

.page-title {
    font-size: var(--fs-800);
}

.page-intro {
    font-size: var(--fs-600);
}

.section-title {
    font-size: var(--fs-600);
    color: var(--clr-neutral-400);
    
}

.section-subtitle {
    font-size: var(--fs-600);
}

/* UTILITY CLASSES */

.bg-primary {
    background-color: var(--clr-primary-300);
    border-radius: var(--borderRad);
    padding-left: 1rem;
    padding-right: 1rem;
}

.wrapper {
    max-width: 50rem;
    margin: 0 auto;
}

.flow-content > * + * {
    margin-top: var(--flow-spacer, 1em);
}

.flex-split {
    display: flex;
    flex-direction: column;
}

.flex-split > * + * {
    margin: 4rem 0 0 0;
}

.flex-split > * {
    flex-basis: 100%;
}

@media (min-width: 40em) {
    .flex-split {
        flex-direction: row;
    }

    .flex-split > * + * {
        margin: 0 0 0 2.5rem;
    }
}

.xl-spacer {
    margin-top: 5rem;
}



/* HEADER & NAVIGATION */

.primary-header {
  min-height: 50vh;
  padding: 2rem;
  border-radius: var(--borderRad);
  background-image: url(img/hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
}

.primary-header .wrapper {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

/*.page-home .primary-header {
    background-image: url(img/hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
} */

.primary-nav {
    position: fixed;
    bottom: 0.5em;
    left: 0.5em;
    right: 0.5em;
    border-radius: var(--borderRad);
    background: var(--clr-neutral-800);
    font-family: var(--ff-serif);
}

.primary-nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 1em 0;
}

.primary-nav li {
    line-height: 0;
}

.primary-nav a {
    color: var(--clr-neutral-200);
    text-decoration: none;
}

@media (min-width: 40em) {
    .primary-nav {
        position: static;
        background: transparent;
    }

    .primary-nav a {
        color: inherit;
        text-decoration: none;
    }

    .primary-header__inner {
        display: flex;
        justify-content: space-between;
    }

    .primary-nav ul {
        padding: 0;
    }

    .primary-nav li {
        margin-left: 2em;
    }
}

/* COMPONENTS */

.btn {
    display: inline-block;
    cursor: pointer;
    border: 0;
    background: none;
    font-weight: var(--fw-700);
    font-size: var(--fs-300);
    font-family: var(--ff-sans);
    text-decoration: none;
    color: var(--clr-neutral-800);
}

.btn::after {
    content: "\203A";
    margin-left: 1em;
    font-weight: var(--fw-300);
}

.btn:hover,
.btn:focus {
    color: var(--clr-primary-400);
}

/* GENERAL LAYOUT */

section {
    padding: 2.5rem 0;
}

@media (min-width: 40em) {
    section {
        padding: 3.5rem;
    }
}

/* ARTICLES */

.article-preview h3 {
    font-size: var(--fs-600);
    font-weight: var(--fw-200);
}

.article-preview img {
    object-fit: cover;
    height: 12.5rem;
    width: 100%;
}

.article-preview .info {
    display: flex;
    font-weight: var(--fw-400);
    font-size: var(--fs-200);
    color: var(--clr-neutral-300);
}

 .article-preview .info > *:first-child {
    margin-right: 2rem;
} 

/* .article-text {
    font-family: var(--ff-sans);
    font-weight: var(--fw-200);
} */

.article-time {
    font-size: var(--fs-200);
    color: var(--clr-neutral-400);
}

/* CTA */

.cta form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 3rem;
}

.cta form > div {
    flex: 1 1 100%;
}

.cta input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--clr-neutral-300);
}

.cta input:focus {
    border-color: var(--clr-primary-400);
    border-width: 4px;
}

.cta input::placeholder {
    color: var(--clr-neutral-300);
    opacity: 1;
}

.cta label {
    display: block;
    margin-bottom: 0.5em;
    font-size: var(--fs-300);
    font-weight: var(--fw-400);
}

.cta button {
    align-self: flex-start;
}

@media (min-width: 40em) {
    .cta form {
        flex-direction: row;
    }

    .cta button {
        align-self: center;
    }
}

/* FOOTER */

footer {
    padding-bottom: 1em;
}

.primary-footer__inner {
    --border: 3px solid var(--clr-neutral-200);
    border-top: var(--border);
    border-bottom: var(--border);
    padding: 3em 0;
    margin: 2em 0;
}

.footer-nav {
    display: flex;
}

.footer-nav > *:first-child {
    margin-right: 4em;
}

.footer-nav a {
    font-weight: var(--fw-700);
    font-size: var(--fs-300);
    color: var(--clr-neutral-800);
}

.footer-nav a:hover,
.footer-nav a:focus {
    color: var(--clr-primary-400);
    text-decoration: none;
}

.footer-social {
    display: flex;
    gap: 2em;
}

.footer-social a {
    font-weight: var(--fw-200);
}

/* HOMEPAGE STYLES */

.intro {
    --flow-spacer: 2em;
}